
html, body, div, section, h1, h2, h3, p, ul, li, a{
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    text-align: center;
	font-size: 1em;
	font-weight: 400;
	color: white;
	background-color:black;
}

nav {
    margin-top: 15px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.col_container {
    display: flex;
    flex-wrap: wrap;

}

.col {
    flex: 1;
}

.col_wide {
    flex: 5;
    text-align: left;
    padding-left: 15px;
}

.search_col {
    /* margin-left: 0;
    margin-right: 0; */
    /* padding: 6px; */
    border: none;
    margin: 10px 0 0 0;
    padding: 10px;
}



#copyright {
	font-size: 0.8em;
	opacity: 0.7;
	text-align: center;
}

.show {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
    max-width: 18%;
    padding: 1%;
}


.show a.details {
    margin-top: 0.5em;
    /* color: white !important; */
}

/* .show div.details {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
} */

.name {
    font-size: 16px;
    margin-bottom: 0.75rem;
    color: var(--grey);
    font-weight: bold;
}


.image {
    height: 350px;
    background-size: cover;
    background-position: center top;
    margin-top: 8px;
}

/* .image.creator {
    height: 250px;
} */




nav input, .link {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    /* font-size: 17px; */
}

.content {
    padding: 0 10%;
}

/* Details 
----------*/
.details-title {
    margin-bottom: 0.7em;
    flex: 1;
}

.details-image {
    margin-bottom: 1em;
    /* padding: 10%; */
    min-height: 400px;
    max-height: 600px;
    /* width: 800px; */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
}

.openAccordion {
    padding: 0 10px;
    display: none;
    overflow: hidden;
}

.accordion {
    width: 100%;
    padding: 10px;
    color: #DB202C;
    margin: 20px 0;
}

.details-container {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.detail {
    margin: 20px 0;
}


/* Contact 
------------*/

#contact-form input {
    padding: 6px;
    border: none;
    width: 180px;
    margin-top: 20px;
}

.error {
    color: #DB202C;
    font-style: italic;
    display: none;
}

.col_down{
    flex-direction: column;
}
/* LEFT TO DO 
---------------- */
/* 
- Make submit button pretty  
-
-
-
-
*/