
html, body, div, section, h1, h2, h3, p, ul, li, a{
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    text-align: center;
	font-size: 1em;
	font-weight: 400;
	color: white;
	background-color:black;
}

nav {
    margin-top: 15px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.col_container{
    display: flex;
    flex-wrap: wrap;

}

.col{
    flex: 1;
}

#copyright {
	font-size: 0.8em;
	opacity: 0.7;
	text-align: center;
}

.show {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
    max-width: 28%;
    padding: 30px;
}


.show a.details {
    margin-top: 0.5em;
    /* color: white !important; */
}

/* .show div.details {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
} */

.name {
    font-size: 16px;
    margin-bottom: 0.75rem;
    color: var(--grey);
    font-weight: bold;
}


.image {
    height: 350px;
    background-size: cover;
    background-position: center top;
}

/* .image.creator {
    height: 250px;
} */




nav input, .link {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    /* font-size: 17px; */
}


/* Details 
----------*/
.details-title {
    margin-bottom: 0.7em;
}

.details-image {
    margin-bottom: 1em;
    height: 290px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}